*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

@import url('https://fonts.apple.com/fonts/san-francisco');

body {
  font-family: 'SF Pro', 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
upperc1 {
  display: inline-flex
}
span1 {
  display: inline-block;
  background-color: lightskyblue;
  color: 000;
  padding: 6px 8px;
  border-radius: 12px;
  vertical-align: middle;
  margin-left: 20px;
  margin-top: -45px;
}

svg {
  display: inline-block;
}

span2 {
  color: #60FFA3;
}

.anim1 {
  font-family: 'SF Pro Text', sans-serif;
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
}
}
span3 {
  animation-name: color-change, move-down;
  animation-duration: 4s, 1s;
  animation-timing-function: linear, ease-out;
  animation-delay: 0s, 0.5s;
  animation-iteration-count: infinite, 1;
  animation-direction: alternate, normal;
}

@keyframes color-change {
  0% { color: red; }
  16.67% { color: orange; }
  33.33% { color: yellow; }
  50% { color: green; }
  66.67% { color: blue; }
  83.33% { color: indigo; }
  100% { color: violet; }
}

h2 {
  font-size: 35px;
}

.stck1 {
  font-family: 'SF Pro', sans-serif;
  font-size: 30px;
  color: black;
}

.stck2 {
  font-family: 'SF Pro', sans-serif;
  font-size: 30px;
  color: black;
}

span4 {
  color: 000;
  background-color: lightcoral;
  padding: 4px 6px;
  border-radius: 8px;
}

.footer {
  font-family: 'SF Pro', sans-serif;
  color: black;
  background-color: lightseagreen;
  height: 10vh;
}

a {
  color: 000;
  text-decoration: none;
}

a:hover {
  color: red;
}
